[submodule "ext/Vulkan-Headers"]
	path = ext/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
	branch = sdk-1.3.261
[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw
[submodule "ext/shaderc"]
	path = ext/shaderc
	url = https://github.com/google/shaderc
